:root {
    --UI-Spacing-spacing-min: 2px;
    --UI-Spacing-spacing-xxs: 4px;
    --UI-Spacing-spacing-xs: 6px;
    --UI-Spacing-spacing-s: 8px;
    --UI-Spacing-spacing-mxs: 12px;
    --UI-Spacing-spacing-ms: 16px;
    --UI-Spacing-spacing-m: 18px;
    --UI-Spacing-spacing-ml: 20px;
    --UI-Spacing-spacing-mxl: 24px;
    --UI-Spacing-spacing-l: 28px;
    --UI-Spacing-spacing-xl: 32px;
    --UI-Spacing-spacing-xxl: 36px;
    --UI-Spacing-spacing-xxxl: 48px;
    --UI-Spacing-spacing-4xl: 60px;
    --UI-Spacing-spacing-max: 90px;

    --UI-Radius-radius-none: 0;
    --UI-Radius-radius-min: 2px;
    --UI-Radius-radius-xxs: 4px;
    --UI-Radius-radius-xs: 6px;
    --UI-Radius-radius-s: 8px;
    --UI-Radius-radius-m: 12px;
    --UI-Radius-radius-ml: 16px;
    --UI-Radius-radius-mxl: 20px;
    --UI-Radius-radius-l: 24px;
    --UI-Radius-radius-xl: 32px;

    --UI-Input-min: 26px;
    --UI-Input-xs: 32px;
    --UI-Input-sm: 40px;
    --UI-Input-md: 48px;
    --UI-Input-lg: 60px;

}
